/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
h1,h2,h3,h4,h5,h6,a, p, input, textarea, button, span {font-family: 'Permanent Marker', cursive; } 


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

  .parallax-container .parallax { background: #000; }
  .parallax-container .parallax img#img-001 { transform: none !important; width: 700px !important; height: auto !important; left: 0 !important; opacity: 0.7 !important;}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 601px) {
  #index-banner .section {
    top: 0;
  }

}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  display: flex;
}
.teal {
  background-color: #41DF7B !important;
}


.teal-text.text-lighten-2 {
  color: #41DF7B !important;
}

.teal.lighten-1 {
  background-color: #41DF7B !important;
}


.ubicacion{
  width: 33%;
  height: 180px;
  display: inline-block;
  margin: 0;
  float: left;
}
.ubicacion1{
  width: 33%;
height: 200px;
display: inline-block;
margin: 0;
float: left;
}
.ubicacion2{
  width: 33%;
 height: 200px;
 display: inline-block;
 margin: 0;
 float: left; 
}

.fs{
   width: 33%;
   display: flex !important;
   margin: 0;
   float: left;
}

.fsd{
  width: 33%;
  display: flex !important;
  margin: 0;
  float: left;
}


form {
  width: 450px;
  margin: auto;
  background: rgba(164,237,191,0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}
input, textarea{
  
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
}

textarea{
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton{
  background-color: #8DC8A3;
  color: #ffff;
  border-radius: 7px;
  padding: 20px;
}